<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head_js %}
    {% endblock %}
</head>
<body>
    <div class="header">
        <h1 style="font-family:Georgia">🦀 The Crab Tax 🦀 </h1>
        <table class="header-links">
            <tr>
                <td><a href="{{ url_for('home') }}">Home</a></td>
                <td><a href="{{ url_for('about') }}">About</a></td>
            </tr>
        </table>
    </div>
    <br><br><br>
    <div class="content-container">
    {% block content %}
    {% endblock %}
        </div>
    </div>

</body>
</html>